<!DOCTYPE html>
<html lang="es">

<head>
  <title>GCC Ramiro</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>

  <div class="container">
    <h1>Hola {{ usuario }}</h1>
    <p>Exito wn :D</p>
    <a class="btn btn-danger" href="{% url 'logout' %}">
      <h5>Salir</h5>
    </a>
  </div>

</body>

</html>