<!DOCTYPE html>
<html lang="es">

<head>
    <title>GCC Ramiro</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container" style="text-align:center;">
        <h1>El proyecto de prueba de GCC Ramiro :D</h1>
        <h4>Iniciar Sesion</h4>
    </div>
    <div class="container">
        <form method="post">
            {% csrf_token %}

            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="form-group">
                        <label for="username">Usuario:</label>
                        <input class="form-control" type="text" name="username">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="form-group">
                        <label for="username">Contraseña:</label>
                        <input class="form-control" type="password" name="password">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="form-group">
                        <input class="btn btn-primary" type="submit" value="Ingresar">
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>

</html>